* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 200px;
    background: blue;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
}

.container > h1 {
    height: 250px;
    width: 100%;
    background: orange;
    text-align: center;
    line-height: 250px;
    font-size: 75px;
}

.container_bot {
    display: flex;
    justify-content: space-between;
    gap: 0 25px;
    width: 90%;
    align-items: flex-start;
    margin: 0 auto;
    height: 100%;
    border: 5px solid black;
    padding: 25px;
}

.element {
    width: 50%;
    height: 100%;
}

.element_container_1 {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    margin: auto 0;
}

.section_top {
    height: 70%;
    display: flex;
    align-items: center;
    width: 100%;
}

.section_top > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.section_bot {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid orange;
}

.img {
    width: calc(100% / 3 - 20px); /* Ajusta el ancho para que las imágenes tengan el mismo tamaño */
    height: 250px; /* Establece una altura fija */
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ddd;
}

/*-------------RIGHT ASIDE------------------------------*/
.element_container_2{
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}
.element_container_2 h2
{
    font-size: 20px;
    font-weight: 100;
}
.price_stars
{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin: 0 auto;
    align-items: center;
}
.price
{
    font-size: 30px;
}
.stars
{
    display: flex;
    list-style: none;
    gap: 0 10px;
}
.stars i
{
    color: gold;
}
/*------------LISTA INFO-----------------------*/
.lista_info{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    padding: 0 25px;
}
.lista_info>li{
    display: flex;
    gap: 15px;
    align-items: center;
}
.lista_info>li>span:nth-of-type(1){
    width: 40%;
    font-weight: bold;
}
/*---------------LISTA INFO 2----------------------------------------*/
.container_lista_2
{
    display: flex;
    flex-direction: column;
}
.container_lista_2>h3{
    width: 100%;
}
.lista_info_2{
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    /*list-style: block;*/
    padding: 15px;
}
/*---------------------Combinaciones recomendadas----------------------------*/
.container_2
{

}
.container_2 h1{
    font-size: 50px;
    text-align: center;
    line-height: 3;
}
.recomendation_products{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap:0 15px;
}
.recomendation_element
{
    width: 350px;
    height:350px;
    border: 1px solid black;
    border-radius:15px;

}